<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Submission</title>
</head>
<body>
    <h1>Enter your information</h1>
    <div>
       @{
           if (ViewBag.errors != null)
           {
               @foreach(var error in ViewBag.errors)
               {
                   <p>@error</p>
               }
           }
       }
    </div>
    <form action="newUser" method="POST" class="form-group">
        First Name: <input type="text" name="firstName" class="form-control">
        Last Name: <input type="text" name="lastName" class="form-control">
        Age: <input type="text" name="age" class="form-control">
        Email: <input type="email" name="email" class="form-control">
        Password: <input type="text" name="password" class="form-control">
        <input type="submit" value="Submit" class="btn-success">
    </form>
</body>
</html>